<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Contact me</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="page">
    <div class="form">
        <form action="solve" method="post">
            <p>
                As a protection against automated spam, please type in the
                numbers in the image below.
            </p>
            <p>
                Alternatively, you can listen  to an <a href="captcha.wav">audio version</a>.
            </p>

            <p>
                If you are unable to read the image, <a href="captcha">reload the page</a>
                to generate a new one.
            </p>

            <img src="captcha.png" class="captcha" alt="Captcha">

            <input type="text" minlength="6" maxlength="6" name="captcha" placeholder="Captcha value" pattern="[0-9]*" inputmode="numeric" required>

            <button>Submit</button>
        </form>
    </div>
</div>
</body>
</html>
