<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Contact me</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="page">
    <div class="form">
        <form action="submit" method="post">
            {{-  range $k, $v := .params }}
            <input type="hidden" name="{{ $k | html }}" value="{{ $v | html }}">
            {{- end }}
            <input type="text" name="name" placeholder="Your name" required>
            <input type="email" name="from" placeholder="Your e-mail address" required>
            <textarea name="message" placeholder="Your message" required></textarea>
            <button>SEND</button>
        </form>
    </div>
</div>
</body>
</html>
